
/* SPLIT SCREEN FUNCTIONALITY START */
.splitScreen {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.leftPane {
    grid-column: 1;
    grid-row: 1;
}

.rightPane {
    grid-column: 2;
    grid-row: 1;
}
/* SPLIT SCREEN FUNCTIONALITY END */